@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/* :root { */
/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

body {
  font-family: 'Raleway', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-submit {
  display: grid;
  grid-template-columns: 1fr 1fr 17rem;
  gap: 2rem;
  width: 100%;
}

.full-width {
  width: 100%;
}

.input-data {
  display: flex;
  flex-direction: column;
}
